/* dark gray #333d50 */
/* yellow #d3ab2b */
/* light gray #cbd0d8 */
/* dark gray rgb(92, 92, 92) */
/* cream #f4f3ea */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  gap: 24px;
  text-align: center;
}

.page-title {
  font-size: 64px;
  color: #f4f3ea;
  border-bottom: 4px solid #d3ab2b;
  padding: 0px 16px 4px 16px;
  margin-bottom: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 80%;
  text-align: center;
}

.input-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.checkbox-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.checkbox {
  cursor: pointer;
}

#radio-container {
  gap: 8px;
  align-items: center;
}

.radio-inputs {
  display: flex;
  gap: 8px;
}

.radio {
  display: flex;
  gap: 2px;
}

.radio-title {
  color: #f4f3ea;
  font-size: 24px;
}

.input-title {
  font-size: 24px;
  color: #f4f3ea;
  align-self: flex-start;
}

.account-container {
  display: flex;
  gap: 8px;
  color: #f4f3ea;
  font-size: 24px;
}

.account-link {
  text-decoration: none;
  font-weight: bold;
  color: #d3ab2b;
}

.account-link:hover {
  text-decoration: underline;
}

.select-menu {
  padding: 8px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 4px;
}

.select-menu:focus {
  border: 4px solid #d3ab2b;
  outline: none;
}

.option-input {
  cursor: pointer;
}

.select-team-msg {
  color: #f4f3ea;
  font-size: 24px;
  text-align: center;
}

.create-team-msg {
  margin: 16px;
  display: flex;
  gap: 6px;
  font-size: 18px;
  color: #f4f3ea;
  justify-content: center;
}

.create-team {
  font-weight: bold;
  color: #d3ab2b;
  cursor: pointer;
}

.create-team:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .signup-form {
    width: 100%;
  }

  .signup-input {
    width: 70%;
  }
}
