.container {
  border: 2px solid black;
  padding: 8px;
  margin-top: 8px;
  border-radius: 4px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#error {
  color: red;
  border-color: red;
  background-color: rgb(250, 182, 182, 0.4);
}

#success {
  color: green;
  border-color: green;
  background-color: rgb(69, 114, 69, 0.4);
}

#warning {
  color: yellow;
  border-color: yellow;
  background-color: rgb(247, 247, 104, 0.4);
}
