.container {
  border: 2px solid black;
  padding: 8px;
  margin-top: 8px;
  border-radius: 4px;
  font-size: 18px;
}

#error {
  color: red;
  border-color: red;
  background-color: rgb(250, 182, 182, 0.4);
}

#success {
  color: green;
  border-color: green;
  background-color: rgb(69, 114, 69, 0.4);
}
