main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 16px;
}

h2 {
    font-size: 36px;
    margin-bottom: 0;
    color: lightblue;
    font-family: 'Kanit';
    font-weight: lighter;
    font-style: italic;
}

.continue-watching {
    font-family: 'Inter';
    border: 4px solid gray;
    padding: 16px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgb(82, 82, 82);
    border-radius: 8px;
}

.continue-watching-title {
    font-weight: bold;
    font-size: 36px;
    color: rgb(205, 205, 205);
}

.continue-watching-game {
    color: black;
    font-size: 24px;
    font-style: italic;
}

.content {
    font-family: 'Inter';
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-height: 60vh;
    border-radius: 0.5rem;
    padding: 8px;
    gap: 24px;
    border: 4px solid red;
}

.content-card {
    border: 2px solid gray;
    color: rgb(205, 205, 205);
    background-color: rgb(82, 82, 82);
    width: 100%;
    padding: 8px;
    font-weight: bold;
    font-size: 28px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}