main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.welcome-msg {
    font-size: 36px;
    color: #d3ab2b;
    font-family: 'Kanit';
    font-weight: lighter;
    font-style: italic;
    margin-top: 16px;
}

.continue-watching {
    font-family: 'Inter';
    border: 4px solid #d3ab2b;
    padding: 16px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #cbd0d8;
    border-radius: 8px;
}

.continue-watching-title {
    font-weight: bold;
    font-size: 36px;
    color: #f4f3ea;
}

.continue-watching-game {
    color: #333d50;
    font-size: 20px;
    font-style: italic;
}

.content {
    font-family: 'Inter';
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-height: 60vh;
    border-radius: 0.5rem;
    padding: 8px;
    gap: 24px;
}

.content-card {
    border: 4px solid #cbd0d8;
    color: #333d50;
    background-color: #f4f3ea;
    width: 100%;
    padding: 8px;
    font-weight: bold;
    font-size: 28px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}