main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.welcome-msg {
    font-size: 36px;
    color: #d3ab2b;
    font-family: 'Kanit';
    font-weight: lighter;
    font-style: italic;
    margin-top: 16px;
}

.continue-watching {
    font-family: 'Inter';
    border: 4px solid #d3ab2b;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #cbd0d8;
    border-radius: 8px;
}

.continue-watching-title {
    font-weight: bold;
    font-size: 36px;
    color: #f4f3ea;
}

.continue-watching-game {
    color: #333d50;
    font-size: 20px;
    font-style: italic;
}

.content-cards {
    font-family: 'Inter';
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 60vh;
    border-radius: 0.5rem;
    padding: 8px;
    gap: 24px;
}

.content-card {
    border: 4px solid #cbd0d8;
    color: #333d50;
    background-color: #f4f3ea;
    padding: 8px;
    font-weight: bold;
    font-size: 28px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card-title {
    border-bottom: 4px solid #d3ab2b;
    width: fit-content;
    padding: 0px 16px 0px 16px;
    align-self: center;
    padding-bottom: 2px;
}

#highlight-card {
    grid-column: 1 / 3;
    justify-self: center;
    width: 50%;
    height: fit-content;
    justify-content: center;
}

.highlight-title {
    border-bottom: 4px solid #d3ab2b;
    width: fit-content;
    padding: 0px 16px 4px 16px;
    align-self: center;
    color: #333d50;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.assigned-clip {
    background-color: #cbd0d8;
    padding: 4px;
    border-radius: 4px;
    color: #333d50;
}

.scouting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.scouting-title {
    font-size: 24px;
}

.scouting-info {
    color: #333d50;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #cbd0d8;
    padding: 8px;
    border-radius: 4px;
}

.next-opponent-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #d3ab2b;
}

#last-game-info {
    flex-direction: column;
    font-size: 24px;
}