.button {
  border-radius: 1em;
  padding: 8px;
  font-size: 14px;
  background: none;
  border: 4px double #f4f3ea;
  color: #f4f3ea;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  border: 4px solid #f4f3ea;
  background-color: rgb(203, 208, 216, 0.1);
}

.button:disabled {
  cursor: default;
  border: 4px double #f4f3ea;
  background: none;
}

.button:disabled:hover {
  cursor: default;
  background: none;
}
