.team-profile {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 16px;
    gap: 24px;
    align-self: center;
    justify-self: center;
}

.container {
    background-color: rgb(82, 82, 82);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid gray;
}

.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.team-logo {
    height: 130px;
    width: 130px;
}

.team-name {
    font-size: 64px;
}

.roster-container {
    width: 100%;
    font-size: 18px;
}

.games-container {
    width: 100%;
    font-size: 18px;
}

.container-title {
    font-size: 28px;
    margin-bottom: 8px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

