.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 8px;
    gap: 8px;
}

.search-form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 70%;
    padding: 8px;
    border-radius: 1rem;
    border: 2px solid gray;
    font-size: 24px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: white;
    font-size: 36px;
}

.empty-search {
    margin: 8px;
    font-size: 48px;
    color: white;
}