/* dark gray #333d50 */
/* yellow #d3ab2b */
/* light gray #cbd0d8 */
/* dark gray rgb(92, 92, 92) */
/* cream #f4f3ea */

.form-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.checkbox-container {
    display: flex;
    gap: 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input {
    padding: 6px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

.setting-title {
    font-size: 22px;
}