/* dark blue #333d50 */
/* yellow #d3ab2b */
/* light gray #cbd0d8 */
/* dark gray rgb(92, 92, 92) */
/* cream #f4f3ea */

.container {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    margin: 0;
    font-size: 48px;
    text-align: center;
    color: #f4f3ea;
    border-bottom: 4px solid #d3ab2b;
    padding-bottom: 2px;
    width: 50%;
}

.games-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    gap: 16px;
}

.game {
    border: 2px solid #cbd0d8;
    color: rgb(92, 92, 92);
    background-color: #f4f3ea;
    padding: 12px;
    font-size: 32px;
    font-weight: bold;
}