.content-card {
  background-color: #f4f3ea;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  border: 4px solid #cbd0d8;
  border-radius: 4px;
  color: #333d50;
}

.content-title {
  border-bottom: 4px solid #d3ab2b;
  width: fit-content;
  padding: 0px 16px 0px 16px;
  align-self: center;
  padding-bottom: 2px;
  font-size: 28px;
  font-weight: bold;
  color: #333d50;
}

.content {
  display: flex;
  flex-direction: column;
}
