.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  margin: 8px;
}

.go-back {
  font-size: 24px;
  margin: 8px;
  color: #f4f3ea;
  cursor: pointer;
}

.page-title {
  text-align: center;
  font-size: 64px;
  color: #f4f3ea;
  border-bottom: 4px solid #d3ab2b;
  padding: 0px 16px 4px 16px;
  margin: 0;
  margin-bottom: 8px;
}

.input-container {
  gap: 4px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.input-title {
  font-size: 24px;
  color: #f4f3ea;
  text-align: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo-input {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  color: #f4f3ea;
  background: none;
  font-weight: bold;
  border: 4px double #f4f3ea;
}

.image-preview-container {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-preview {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 4px solid #d3ab2b;
}

.members-input {
  width: 100%;
}
