.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.select-menu {
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.select-menu:focus {
  border: 4px solid #d3ab2b;
  outline: none;
}

.go-back {
  font-size: 18px;
  color: #f4f3ea;
  cursor: pointer;
}

.go-back:hover {
  border-bottom: 2px solid #d3ab2b;
}

.invite-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
}

.emails-container {
  align-self: flex-start;
  max-width: 100%;
  display: flex;
  cursor: default;
  flex-wrap: wrap;
}

.email-input {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.email {
  background-color: lightgray;
  padding: 8px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: fit-content;
  color: #333d50;
  margin: 4px;
}

.empty-email-msg {
  margin: 4px;
  font-size: 18px;
  color: #333d50;
}

.add-email {
  color: #333d50;
  border: 2px double #333d50;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  font-weight: bold;
  padding: 4px;
}

.add-email:hover {
  border: 2px solid #333d50;
  cursor: pointer;
}

.add-email:hover:disabled {
  border: 2px double #333d50;
  cursor: default;
}

.delete-email {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  outline: none;
  border: none;
  cursor: pointer;
  color: #333d50;
  font-size: 20px;
}

.delete-email:hover {
  color: #d3ab2b;
}

.input-box {
  width: 100%;
}
