.inbox-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 8px;
    gap: 16px;
}

.container-title {
    font-size: 48px;
    border-bottom: 2px solid gray;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 32px;
    gap: 8px;
}

.results-title {
    font-size: 32px;
}

.result {
    background-color: lightgray;
    color: rgb(82, 82, 82);
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.result:hover {
    background-color: rgb(185, 185, 185);
    font-size: 20px;
    color: rgb(65, 65, 65);
}