.search-form {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 16px;
}   

.search-input {
    padding: 8px;
    border-radius: 1rem;
    width: 100%;
    color: #333d50;
}

.search-input:focus {
    border: 4px solid #d3ab2b;
    outline: none;
}

.close {
    background:none;
    border: none;
    color: #f4f3ea;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: #d3ab2b;
}