/* dark gray #333d50 */
/* yellow #d3ab2b */
/* light gray #cbd0d8 */
/* dark gray rgb(92, 92, 92) */
/* cream #f4f3ea */

.team-profile {
    color: #f4f3ea;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 16px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f4f3ea;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid #cbd0d8;
    border-radius: 4px;
    color: #333d50;
    font-size: 18px;
}

.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100%;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.team-logo {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.team-name {
    font-size: 64px;
}

.container-title {
    font-size: 36px;
    margin-bottom: 8px;
    border-bottom: 4px solid #d3ab2b;
    text-align: center;
}

#roster-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    gap: 16px;
}

#roster-title {
    grid-column: 1 / 3;
    width: 50%;
    justify-self: center;
}

.modal-title {
    font-size: 48px;
    margin: 0;
    padding-bottom: 4px;
}

.notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.note {
    background-color: #f4f3ea;
    border: 4px solid #cbd0d8;
    color: #333d50;
    font-size: 24px;
    padding: 8px;
    border-radius: 4px;
}

