/* dark gray #333d50 */
/* yellow #d3ab2b */
/* light gray #cbd0d8 */
/* dark gray rgb(92, 92, 92) */
/* cream #f4f3ea */

a {
  text-decoration: none;
  color: #f4f3ea;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #333d50;
  border-bottom: 4px solid #f4f3ea;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

img {
  border: 4px double #d3ab2b;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.nav_btn {
  color: #f4f3ea;
  font-size: 32px;
  cursor: pointer;
}