a {
  text-decoration: none;
  color: #f4f3ea;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #333d50;
  border-bottom: 4px solid #f4f3ea;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

.team-logo {
  border: 4px double #d3ab2b;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.team-logo:hover {
  border: 4px solid #d3ab2b;
  background-color: rgb(203, 208, 216, 0.1);
}

.nav-btn {
  color: #f4f3ea;
  font-size: 32px;
  cursor: pointer;
}

.nav-btn:hover {
  font-size: 34px;
  color: #cbd0d8;
}
