a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: rgb(39, 39, 39);
  border-bottom: 2px solid gray;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

img {
  border: 4px double white;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.nav_btn {
  color: white;
  font-size: 32px;
  cursor: pointer;
}