.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  margin: 8px;
}

.page-title {
  text-align: center;
  font-size: 64px;
  color: #f4f3ea;
  border-bottom: 4px solid #d3ab2b;
  padding: 0px 16px 4px 16px;
  margin: 0;
  margin-bottom: 8px;
}

.input-container {
  gap: 4px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  gap: 8px;
}

.input-title {
  font-size: 24px;
  color: #f4f3ea;
}

.select-team-msg {
  color: #f4f3ea;
  font-size: 24px;
  text-align: center;
}

.create-team-msg {
  margin: 16px;
  display: flex;
  gap: 4px;
  font-size: 18px;
  color: #f4f3ea;
  justify-content: center;
}

.create-team {
  font-weight: bold;
  color: #d3ab2b;
  cursor: pointer;
}

.create-team:hover {
  text-decoration: underline;
}

select {
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
  background-color: #f4f3ea;
  border-radius: 4px;
  color: #333d50;
  border: 2px solid #d3ab2b;
}

select:focus {
  outline: none;
}
