.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  margin: 8px;
}

.page-title {
  font-size: 64px;
  color: #f4f3ea;
  border-bottom: 4px solid #d3ab2b;
  padding: 0px 16px 4px 16px;
  margin-bottom: 8px;
}

.signup-title {
  font-size: 24px;
  color: #f4f3ea;
}

.signup-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

#radio-container {
  gap: 8px;
  align-items: center;
}

.radio-inputs {
  display: flex;
  gap: 8px;
}

.radio {
  display: flex;
  gap: 2px;
}

.radio-title {
  color: #d3ab2b;
  font-size: 24px;
}
