html,
body {
  padding: 0;
  margin: 0;
  background-color: #333d50;
}

body {
  padding: 0;
  line-height: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
