/* dark gray #333d50 */
/* yellow #d3ab2b */
/* light gray #cbd0d8 */
/* dark gray rgb(92, 92, 92) */
/* cream #f4f3ea */

html,
body {
  padding: 0;
  margin: 0;
  background-color: #333d50;
}

body {
  padding: 0;
  line-height: inherit;
}

h2 {
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.checkbox-container {
  display: flex;
  gap: 8px;
}

.input-title {
  font-size: 24px;
  text-align: left;
}

input {
  padding: 6px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
}

input:focus {
  outline: none;
  color: #333d50;
  border: 4px solid #d3ab2b;
}

textarea {
  color: #333d50;
  outline: none;
  resize: none;
  height: 100px;
  font-family: 'Inter';
  font-size: 18px;
  border-radius: 4px;
  padding: 6px;
  margin: 8px;
  border: none;
}

textarea:focus {
  border: 2px solid #d3ab2b;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
